<div class="patient-single-navigation">
    <ul>
        <li>
            <a href=""  class='@@if (context.active == "Demographic"){active}'><span uk-icon="icon: users"></span> Demographic</a>
        </li>
        <li>
            <a href="" class='@@if (context.active == "past-app"){active}'><span uk-icon="icon: clock"></span> Past Appointments</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: user"></span> Illness History</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: heart"></span> System Review</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: plus-circle"></span> Clinical Data</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon:  file-text"></span> Assessment</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: bag"></span> Treatment Plan</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: lifesaver"></span> Medications</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: push"></span> Referral</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon: commenting"></span> Messages</a>
        </li>
        <li>
            <a href=""><span uk-icon="icon:  file-edit"></span> Reports</a>
        </li>
    </ul>
</div>